  <!--the name of this html file is given as the format { <modelname>_form.html }-->
    <!--<modelname> should be in lowercase-->
      <!--eg: Student  then the form.html filename is student_form.html-->


<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token  %}
         {% include 'student/form-template.html' %}
         <!--<div>-->
<!--{#             <div>#}-->
<!--{#                 <button type="submit">Submit</button>#}-->
<!--{#             </div>#}-->
         <!--</div>-->
    </form>

</body>
</html>


  <!---->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Add Student</title>-->
    <!--<title>Student Academic Information System</title>-->
		<!--<meta charset="utf-8" />-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />-->
		<!--&lt;!&ndash;[if lte IE 8]>&lt;!&ndash;
        <!--<script src="assets/js/ie/html5shiv.js"></script>&ndash;&gt;--><![endif]&ndash;&gt;-->
        <!--{% load static %}-->
		<!--<link rel="stylesheet" href="{% static 'student/assets/css/main.css' %}" />-->
<!--</head>-->
<!--<body>-->

    <!--<form action="" method="post" id="personForm"-->
            <!--sub-name="{% url 'student:subject_name' %}"-->
          <!--sub-name2="{% url 'student:subject_name2' %}"-->
          <!--data-cities-url="{% url 'student:subject_list' %}"-->
          <!--enctype="multipart/form-data">-->
        <!--{% csrf_token  %}-->
         <!--{% include 'student/form-template.html' %}-->

    <!--</form>-->
      <!--{% load staticfiles %}-->
        <!--<script src="{% static 'student/js/jquery-3.3.1.min.js' %}"></script>-->
        <!--<script src="{% static 'student/assets/js/skel.min.js' %}"></script>-->
        <!--<script src="{% static 'student/assets/js/util.js' %}"></script>-->
        <!--<script src="{% static 'student/assets/js/main.js' %}"></script>-->






  <!--<script>-->
    <!--$("#id_cursem").change(function () {-->
      <!--var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view-->
      <!--var cursemId = $(this).val();  // get the selected country ID from the HTML input-->
      <!--var branchs = $("#id_branch option:selected").val();-->

      <!--$.ajax({                       // initialize an AJAX request-->
        <!--url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)-->
        <!--data: {-->
          <!--branch :branchs,-->
          <!--cursem : cursemId-->
                                     <!--// add the country id to the GET parameters-->
        <!--},-->
        <!--success: function (data) {   // `data` is the return of the `load_cities` view function-->
          <!--$("#id_subcode1").html(data);  // replace the contents of the city input with the data that came from the server-->
          <!--$("#id_subcode2").html(data);-->
          <!--$("#id_subcode3").html(data);-->
          <!--$("#id_subcode4").html(data);-->
          <!--$("#id_subcode5").html(data);-->
          <!--$("#id_subcode6").html(data);-->
          <!--$("#id_subcodel1").html(data);-->
          <!--$("#id_subcodel2").html(data);-->
          <!--$("#id_subcodel3").html(data);-->
          <!--$("#id_subcodel4").html(data);-->
        <!--}-->
      <!--});-->
        <!--return-->
    <!--});-->


 <!--$('#id_subcode1').change(function () {-->

     <!--var url2=$("#personForm").attr("sub-name");-->
      <!--var code = $("#id_subcode1 option:selected").val();-->
      <!--var cursem = $("#id_cursem").val();-->
       <!--var branchs = $("#id_branch option:selected").val();-->

      <!--$.ajax({                       // initialize an AJAX request-->
        <!--url: url2,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)-->
        <!--data: {-->
          <!--cursem:cursem,-->
          <!--branch:branchs,-->
          <!--subcode1 :code                                     // add the country id to the GET parameters-->
        <!--},-->
        <!--success: function (data) {   // `data` is the return of the `load_cities` view function-->
          <!--$("#id_sub1").html(data);   // replace the contents of the city input with the data that came from the server-->
          <!--$("#id_sub2").html(data);-->
          <!--$("#id_sub3").html(data);-->
          <!--$("#id_sub4").html(data);-->
          <!--$("#id_sub5").html(data);-->
          <!--$("#id_sub6").html(data);-->
          <!--$("#id_subl1").html(data);-->
          <!--$("#id_subl2").html(data);-->
          <!--$("#id_subl3").html(data);-->
          <!--$("#id_subl4").html(data);-->

        <!--return-->
        <!--}-->
      <!--});-->


 <!--});-->



  <!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->