<html>

{% extends 'student/base_new.html' %}
{% block body %}

   <script>
    $(document).ready(function() {
        $('#tables').DataTable();
    }
    </script>
<link >
<body>

  {% for i in list %}
  <h2>Details of {{ i.name }} </h2>
  {% endfor %}
   <div class="table-responsive">
    <table id="tables" class="table table-striped table-bordered dt-responsive dataTables_wrapper" cellspacing="0" width="100%">
      <tr>
          <th>
              <label style="font-size: medium;font-family:Arial">Photo </label>
          </th>
          <th>
               <label style="font-size: medium;font-family:Arial"> Register Number </label>
          </th>

          <th>
               <label style="font-size: medium;font-family:Arial"> Student Name </label>
          </th>

          <th>
              <label style="font-size: medium;font-family:Arial"> Branch  </label>
          </th>

           <th>
              <label style="font-size: medium;font-family:Arial"> Current Semester </label>
          </th>

           <th>
                  <label style="font-size: medium;font-family:Arial"> Year of Join </label>
          </th>

          <th>
            <label style="font-size: medium;font-family:Arial"> Section</label>
          </th>
      </tr>
    {% for i in list %}

       <tr>
          {% if i.photo != None %}
           <td>
              <img style="width: 70px;height: 80px" src="{{ i.photo.url }}">
           </td>
             {% else %}
              <td>

              </td>
           {% endif %}

           <td>
                {{i.regno}}
           </td>

            <td>
               {{i.name}}
           </td>

            <td>
               {{i.branch}}
           </td>

           <td>
               {{i.cursem}}
           </td>

            <td>
                 {{i.join}}
           </td>

           <td>
                {{i.section}}
           </td>

       </tr>

   {% endfor %}
  </table>


  <h2> Marklist Of Student </h2>


   <table id="tables" class="table table-striped table-bordered dt-responsive nowrap"  width="100%">
      <tr>

          <th>
            <label style="font-size: medium;font-family:Arial">Subject Name</label>
          </th>


          <th>
            <label style="font-size: medium;font-family:Arial">Marks </label>
          </th>
      </tr>
    {% for i in marks %}
       <tr>

            <td style="font-size: medium;font-family:Arial">
                 {{i.sub1}}
           </td>

           <td style="font-size: medium;font-family:Arial">
                {{i.mark1}}
           </td>
       </tr>
        <tr>
           <td style="font-size: medium;font-family:Arial">
                {{i.sub2}}
           </td>

          <td style="font-size: medium;font-family:Arial">
                {{i.mark2}}
           </td>
        </tr>
        <tr>
          <td style="font-size: medium;font-family:Arial">
                {{i.sub3}}
           </td>

          <td style="font-size: medium;font-family:Arial">
                {{i.mark3}}
           </td>
        </tr>
        <tr>
         <td style="font-size: medium;font-family:Arial">
                {{i.sub4}}
           </td>

          <td style="font-size: medium;font-family:Arial">
                {{i.mark4}}
           </td>
        </tr>
        <tr>
         <td style="font-size: medium;font-family:Arial">
                {{i.sub5}}
           </td>

         <td style="font-size: medium;font-family:Arial">
                {{i.mark5}}
           </td>
        </tr>
         <tr>
         <td style="font-size: medium;font-family:Arial">
                {{i.sub6}}
           </td>

         <td style="font-size: medium;font-family:Arial">
                {{i.mark6}}
           </td>
        </tr>
         <tr>
         <td style="font-size: medium;font-family:Arial">
                {{i.subl1}}
           </td>

         <td style="font-size: medium;font-family:Arial">
                {{i.markl1}}
           </td>
        </tr>
         <tr>
         <td style="font-size: medium;font-family:Arial">
                {{i.subl2}}
           </td>

         <td style="font-size: medium;font-family:Arial">
                {{i.markl2}}
           </td>
        </tr>
        {% if i.subl3 != None %}
         <tr>

         <td style="font-size: medium;font-family:Arial">
                {{i.subl3}}
           </td>

         <td style="font-size: medium;font-family:Arial">
                {{i.markl3}}
           </td>

        </tr>
        {% endif %}
        {% if i.subl4 != None %}
         <tr>

         <td style="font-size: medium;font-family:Arial">
                {{i.subl4}}
           </td>

         <td style="font-size: medium;font-family:Arial">
                {{i.markl4}}
           </td>
        </tr>
        {% endif %}

   {% endfor %}
  </table>

   </div>


{% endblock %}
</body>
</html>