<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for Students</title>
</head>
<body>
   <h1>Search for students by register number</h1>

   <form action="/student/search/" method="get">
       {% csrf_token %}
       <input type="text" name="regno" placeholder="Register Number"><br>
        <input type="text" name="name" placeholder="Student Name">
        <input type="text" name="branch" placeholder="Branch">
       <input type="submit" value="Search">
   </form>
</body>
</html>