
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
<!--css paths -->
{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'student/style.css' %}"/>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<!--navigations-->
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'student:index' %}"/>Home </a><br>

            <a class="navbar-brand" href="/admin/"/>Admin </a>



        </div>


           <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a class="" href="{% url 'student:register'%}"/>Create An Account</a>

                </li>

            </ul>

        </div>

         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a class="" href="{% url 'student:faculty_show'%}"/>Faculty</a>
                </li>

            </ul>

        </div>



         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'student:searchform' %}"/>Search</a><br>
                    <a href="{% url 'student:student_search' %}"/>Student Search Filter</a><br>
                    <a href="{% url 'student:faculty_search' %}"/>Faculty Search Filter</a>

                </li>
                <li>
                    <a href=""/>Add Marklist </a>
                </li>

            </ul>

        </div>

         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'student:student_add' %}">Add Student</a><br>
                    <a href="{% url 'student:login' %}"> Login </a>
                     {% block content %}
                    {% if user.is_authenticated %}
                        Hi {{ user.username }}!
                        <p><a href="{% url 'logout' %}">logout</a></p>
                    {% else %}
                        <p>Hello guest user</p>
                        <a href="{% url 'login' %}">login</a>
                    {% endif %}
                {% endblock %}

                </li>

            </ul>

        </div>



{#        <div class="collapse navbar-collapse">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="">#}
{#                    <a href="">Faculty</a>#}
{#                </li>#}
{##}
{#            </ul>#}
{##}
{#        </div>#}

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="">Syllabus</a>
                </li>

            </ul>

        </div>

    </div>

</nav>
{% block body %}
{% endblock %}
</body>
</html>
